:root{
    --d1: #E5E5E5;
    --d2: #ABDBA1;
    --d2-main: #0FA958;
    --d3: #D96D6D;
    --d4: #DDE2FB;
    --d5: #FBFBFB;
    --d6: #FFF8ED;
    --d7: #ebcb99;
    --d8: #fafafa;
    --d9: #F1F1F1;
}