@media (min-width: 480px) {
    .wishlist{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .wishlist {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
@media (min-width: 1100px) {
    .wishlist {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}